
body{
    background-color: #003;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

form{
    background-color: #008;
    padding: 20px;
    border-radius: 10px;
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    width: 400px;
}

form input{
    background-color: #0000aaa0;
    border: none;
    outline: none;
    color: white;
    padding: 5px 10px;
    flex-basis: 200px;
    flex-grow: 1;
}

form .btn{
    background-color: #14a;
    color: white;
    border: none;
    cursor: pointer;
    padding: 5px 10px;
    flex-basis: 30px;
    flex-grow: 1;
}